# Metabase
METABASE_BASE_URL=https://your-metabase-instance.com
METABASE_API_KEY=
METABASE_DATABASE_ID=

# Loki
LOKI_BASE_URL=https://microservices.socket.tech/loki

# Mixpanel
MIXPANEL_SERVICE_ACCOUNT_USERNAME=
MIXPANEL_SERVICE_ACCOUNT_SECRET=
MIXPANEL_PROJECT_ID=
